SWITCHBOARD_SERVER_LOCAL_MAC_HOST=localhost
SWITCHBOARD_SERVER_LOCAL_MAC_USERNAME=p
SWITCHBOARD_SERVER_LOCAL_MAC_PORT=22
SWITCHBOARD_SERVER_LOCAL_MAC_PASSWORD=

SWITCHBOARD_SERVER_PESU_DEV_47_HOST=192.168.3.47
SWITCHBOARD_SERVER_PESU_DEV_47_USERNAME=pesu
SWITCHBOARD_SERVER_PESU_DEV_47_PORT=22
SWITCHBOARD_SERVER_PESU_DEV_47_PASSWORD=

SWITCHBOARD_SERVER_ZAPP_TEST_114_HOST=148.66.152.114
SWITCHBOARD_SERVER_ZAPP_TEST_114_USERNAME=zappadmin
SWITCHBOARD_SERVER_ZAPP_TEST_114_PORT=22
SWITCHBOARD_SERVER_ZAPP_TEST_114_PASSWORD=

SWITCHBOARD_SERVER_ZAPP_PROD_253_HOST=148.72.247.253
SWITCHBOARD_SERVER_ZAPP_PROD_253_USERNAME=zappadmin
SWITCHBOARD_SERVER_ZAPP_PROD_253_PORT=22
SWITCHBOARD_SERVER_ZAPP_PROD_253_PASSWORD=

SWITCHBOARD_MAX_FILES_PER_PATH=200
SWITCHBOARD_SSH_TIMEOUT_SECONDS=10
